{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="backgr">
    {% include 'navbar.html' %}
    <h1 class="h1">Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quod quidem facere vitae reiciendis officia ipsam aliquam veritatis molestiae est accusamus dolorum incidunt, earum repellat illo aliquid dolores quos consequuntur deserunt sed quia aut? Quaerat laborum suscipit sit iste quisquam.</p>
    <img src="{% static 'assets/login_banner1.jpg' %}" alt="college_banner">
    
    {% include 'footer.html' %}
    
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>